{% set locale = bag('alternatives', this.alt) %}
<div class="banner__containter banner align-middle d-flex justify-content-center p-0">
  <input id="trigger" type="checkbox" title="{{ _('Close banner') }}" />
  <label for="trigger" class="footer__close text-white">X</label>
  <span class="eoy-sr-only text-white">{{ _('Close banner') }}</span>
  <div class="eoy-banner row col-md-12" id="banner-header" role="contentinfo">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8">
      <div class="col-12 p-5 {{ locale.direction }}">
        <div class="row">
          <h4 class="tracking-surveillan">{{ _('Use a Mask, Use Tor.') }}</h4><br>
        </div>
        <div class="row">
          {% if locale.direction == 'text-right' %}
            <div class="col-8 order-1">
          {% else %}
            <div class="col-8 order-0">
          {% endif %}
            <h2 class="take-back-the-intern">
              {{ _('Resist the surveillance pandemic.') }}
            </h2>
          </div>
          {% if locale.direction == 'text-right' %}
            <div class="col-4 order-0">
          {% else %}
            <div class="col-4 order-1">
          {% endif %}
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-8 order-0 pb-3">
            <a href="https://blog.torproject.org/friends-of-tor-match-2020" target="_blank" title="Friends of Tor" class="match">Your donation will be matched by Friends of Tor, up to $100,000.</a>
          </div>
        </div> -->
        <div class="row">
          {% set link = bag('links', this.alt, 'donate') %}
          {% if link %}
            <a class="rectangle" href="{{ link }}">{{ _('Donate Now') }}</a>
          {% else %}
            <a class="rectangle" href="https://torproject.org/donate/donate-usetor-hp1">{{ _('DONATE NOW') }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-1">
    </div>
  </div>
</div>
